<% layout('layouts/boilerplate') %>
<h1 class="text-center">Thank you to all our sponsors!</h1>
<br>
<img src="/SkyLight.jpg" class="img-fluid" alt="">
<hr>
<img src="/AmRubber.PNG"  class="img-fluid" alt="">
<hr>
<img src="/Oakville.jpg" alt="" class="img-fluid">
<hr>
<img src="/Estate.jpeg" class="img-fluid" alt="">
<hr>
<img src="/Sponge.jpg" class="img-fluid" alt="">
<hr>
<img src="/Makil.jpg" class="img-fluid" alt="">
