<% layout('layouts/boilerplate') %> 




<div class="text-center">
<h1>Choose your All-Stars team for <br> Aaron Memorial Tournament
<br>
<br>
Team One Sponsored By: </h1>
<br>
<h2>AM RUBBER AND FOAM GASKETS INC </h2>
<img src="/AmRubber.PNG" class="img-fluid" alt="">
<hr>
<br>

<h2>Team Two Sponsored By:</h2>
<br>
<h2>AJ RUBBER AND SPONGES</h2>
<img src="/Sponge.jpg" class="img-fluid" alt="">
<hr>

<a href="https://forms.office.com/r/DiZKwX1GV4" class="btn btn-primary">Press this button to start your vote!</a>
</div>